@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300&display=swap");

:root {
    --background-footer: rgb(4,40,66);
    --color-footerlinks: rgb(74, 162, 210);
}

footer {
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-footer);
    padding: 0 5rem;
}

.social-icons {
    
    margin-left: 1rem;
}

.copyright p {

    color: var(--color-footerlinks);
    font-family: 'Patua One', cursive;
    font-size: 1.2rem;
}

.social-icons a {

    padding-right: 1rem;
    font-size: 1.2rem;
    color: var(--color-footerlinks);
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.85;
    color: #e6e6e6;
}