@import url(footer.css);
@import url(nav.css);
@import url(main.css);


nav {
    min-height: 8vh;
}


.contact-wrapper {
    background-image: radial-gradient(circle farthest-side at center, rgba(20, 175, 242, 1) 10%, rgba(44, 182, 242, 1) 20%, rgba(68, 190, 242, 1) 30%, rgba(93, 197, 242, 1) 40%, rgba(117, 204, 242, 1) 50%, rgba(141, 212, 242, 1) 60%, rgba(165, 219, 242, 1) 70%, rgba(189, 226, 242, 1) 80%, rgba(214, 233, 242, 1) 90%, rgba(238, 241, 242, 1) 100%);
    padding: 2rem 5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    background-color: white;
    border-radius: 20px;
    
}

label {
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    border-radius: 8px;
    padding: 10px 10px;
    text-align: center;
}



.button {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid rgb(6,32,55);
    text-align: center;
    padding: 1rem 1rem;
    color: rgb(6,32,55);
    border-radius: 30px;
    cursor: pointer;
    font-size: 24px;
    background-color: white;
}

.button:hover {
    opacity: 0.85;
    background-color: rgb(6,32,55);
    filter: saturate(2);
    color: white;
    
}










