@import url("footer.css");
@import url("nav.css");

.title{
    padding-top: 50px;
    
    text-align: center;
}
.catalog{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: minmax(100,auto);

}

.catalog > div {
    
    padding: 1em;
    }

div a {

     text-decoration: none;
     color: rgba(0, 214, 170, 0.85);
    font-weight: 300;
    
 }